

.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    margin: 5% 15%; 
}

// // // // // // // Formulaires
.form-grid{
    display: grid;
    // align-items : center; 

    grid-template-rows: 25% 25% 50%;
    // grid-template-columns: 100px 224px;
    grid-template-areas:
      "input1"
      "input2"
      "texta ";
    gap: 10px;
    // width: 85%;
    max-width: 600px;
}


.textarea {
    grid-area: texta;
}
label {
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;

}
input[type="text"],
  textarea {
    width: 100%;
    margin: 10px 0 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: 0.2s;
}

#message{
    height: 180px;
}
 
input[type="text"]:focus,
  textarea:focus {
    border: 2px solid $color11;
}
textarea {
    resize: none;
}  


.form-container{
    .main-button{
        margin: 35px 0 0 0;
    }
}




// // // // // // // Informations de contact 
.informations{
    display: grid;
    grid-template-rows: 25% 25% 25% 25% ;
    align-items : center; 



    .address{
        @include informations
    }
    .phone{
        @include informations
    }
    .email{
        @include informations
    }
    .social{
        @include informations
    }


    ul {
        display: flex;
        gap: 8%;

    
    }
}







/*
.social{
    ul {
        display: flex;
        justify-content: space-between;
        width: 33%;
        min-width: 300px;
        margin: 0 auto;

        a {
            display: flex;
            border: 1px solid #ccc;
            border-radius: 50px;
            width: 44px;
            height: 44px;
            
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }

      }

}*/