

header{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    // margin: 10% 5%;

    min-height: 100vh;

    color: $color0;

    // Animation du h1 qui se déplace vers le haut
    opacity: 0;
    transform: translateY(40px);
    animation: headerAnim 1.5s forwards;
    @keyframes headerAnim {
        to{
        transform: translateY(0);
        opacity: 1;
        }
    }


    h1{
        margin: 5% 15%;
        font-size: 3.5rem;
        @include title;

        @media screen and (max-width: 1030px) {
            font-size: 2.5rem;
        }

    }
    p{
        margin: 0 5%;
        font-style: italic;
        width: 85%;
    }
}


