


 
 
nav{
    display: grid;
    grid-template-columns: 50% 50%;
    @media screen and (max-width: 650px) {
        grid-template-columns: 100%;
        align-items: center;
    }

    background: $color10;
    //margin: 0 auto; 
   
    // margin: 0 15%;
    position: absolute;
    

    z-index: 100; 
    bottom: 0;
    //width: calc(15%-1080px);
    max-width: 910px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);



    ul{
        display: flex;
        li{
            padding: 5%;
            a{
                text-decoration: none;
            }
            &:hover{
                background-color: $color12;    
                }           
        }
    }
    .links{
         
        
        // Déselectionne le First child en passant le hover sur d'autres liens
        &:hover li:not(hover){ 
            background-color: transparent;
            a{
                color: white;
            }
            &:hover{
                background-color: $color12;    
                a{
                    color: black;
                }
            }  
        }
        
        
        li{
            display: flex;
            align-items: center;
            min-height: 60px;
            
            @include title;
            font-size: 0.7rem;
            padding: 0 15px;

            @media screen and (max-width: 650px) {
                font-size: 0.5rem; 
            }
            @media screen and (max-width: 350px) { 
                padding: 0 0;
            }


            // First child, fond blanc et police noire
            &:first-child{
                background-color: $color12;
                a{
                    color: $black1;
                }

                
            }
        }
           
    }


    .social{
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
        font-size: 1.5rem;

        @media screen and (max-width: 650px) {
            display: none;
        }
    
        li{
            transition: 0.4s;
            cursor: pointer;
            &:hover{
                i{
                transform: scale(1.25);
                
                }
            }
        }


    }
    
}
 



